from settings import *

DEBUG = True
ALLOWED_HOSTS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'postgres',
        #'NAME': '/registerapi_db_run_1/db_1',
        #'NAME': '/registerapi_db_run_1/registerapi_db_1',
        'USER': 'postgres',
        #'PASSWORD': 'PASSWORD_FOR_YOUR_POSTGRES_DB_USER',
        'HOST': 'db',
        'PORT': '5432',
    }
}

INSTALLED_APPS += (
    'django_extensions',
)
